@import url('https://fonts.googleapis.com/css?family=Holtwood+One+SC|Teko:400|Patua+One');

@import 'variables';

body {
  background: $color-navy;
  color: $color-grey--light;
  @include calloutFont;
  font-size: 24px;
}

p {
  margin: 1rem 0;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;

  &__header {
    background: $color-navy--light;
  }

  &__main {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    justify-content: center;
  }

  &__footer {

    @include calloutFont;

    align-items: center;
    background: $color-navy--dark;
    display: flex;
    justify-content: center;
    padding: 1.5rem 0;
    text-transform: uppercase;
  }
}

.content {
  margin: 0 auto;
  max-width: 22rem;
  padding: 0 1rem;
}

.giant {
  font-size: 44px;
  padding: 0 0.5rem;
}

button {
  background: $color-yellow;
  border: none;
  border-radius: 3px;
  color: $color-navy;
  font-size: 24px;
  font-weight: 700;
  outline: none;
  padding: 0.25rem 0.5rem;

  &:focus {
    border-radius: 3px;
    outline: 6px solid $color-navy--dark;
  }
}

.bar-set {
  
  @include weightsFont;

  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 18rem;

  &__weight {
    margin: 0 0.5rem;
  }
}

input {

  @include calloutFont;

  background: none;
  border: none;
  color: $color-grey--light;
  font-size: 24px;
}
