@import '../../variables';

.counter-input {
  color: $color-grey--light;
  display: flex;
  font-family: "Holtwood One SC", serif;
  justify-content: space-between;
  padding: 0.75rem 0;

  input {
    text-align: center;
    width: 3rem;
  }
}